
<form action="/pirates" method="post">
  Pirate Name: <input type="text" name="pirate[name]">
  Pirate Height: <input type="text" name="pirate[height]">
  Pirate Weight: <input type="text" name="pirate[weight]">

  Ship Name: <input type="text" name="pirate[ship][][name]">
  Ship Type: <input type="text" name="pirate[ship][][type]">
  Ship Booty: <input type="text" name="pirate[ship][][booty]">

  Ship Name: <input type="text" name="pirate[ship][][name]">
  Ship Type: <input type="text" name="pirate[ship][][type]">
  Ship Booty: <input type="text" name="pirate[ship][][booty]">
  <input type="submit">
</form>
